    <group
        id="{id}"
        name={name}
        longName={name}{inherit}
        highlightName="true"
    >
        <commands>{commands}
        </commands>
        <permissions>{permissions}
        </permissions>
    </group>
